name: Validate Renovate config

on:
  push:
    branches:
      # run everytime on main to catch conflicting merges
      - main
      # hardcoded test branch to test this workflow
      - test/ci-validate-renovate
  pull_request:
    branches: [main]
    paths: [".github/renovate.json"]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      # #nodejs-suppport -- use highest LTS version
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      # keep in sync with `yarn test:renovate`
      - run: yarn dlx --package renovate@31.21.2 renovate-config-validator
